---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>
    Calvinouche de cibole de saint-sacrament de viande à chien de
    sacréfice de charogne de crucifix de verrat de boswell de sapristi.
    Maudite marde de purée de bâtard de torrieux de crucifix de
    sainte-viarge de crisse d'ostie de cibole de viande à chien. Étole
    de ciboire de sacrament de sapristi de cibole de mosus de
    calvinouche de Jésus de plâtre de ciarge de maudine. Charogne de
    crucifix d'enfant d'chienne de viande à chien de torrieux de viarge
    de colon de câlique de torvisse de cochonnerie. Bout d'ciarge de
    bâtard de tabarnane de crucifix de cul d'étole de bout d'crisse
    d'astie de maudit de sacréfice.
  </h1>
</Layout>
