---
import Sidebar from "../components/sidebar.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Emily Man</title>
  </head>
  <body>
    <div class="flex flex-col flex-grow justify-between md:flex-row">
      <Sidebar client:load class="min-w-[10vw]" />
      <slot class="max-w-[90vw]" />
    </div>
  </body>
</html>
